# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio and VS Code
.vs/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg

# Rider and Resharper
.idea/
_ReSharper*/
*.DotSettings.user
